.markdown-source-view,
.markdown-reading-view {
  direction: rtl;
  text-align: justify;
}
.cm-content {
  direction: rtl;
  text-align: justify;
}
.cm-line {
  direction: rtl;
  text-align: justify;
}
